#root {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.m-top20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.container,
.widget-container {
  width: 100%;
}

.unit-selector {
  width: 50px;
}

header {
  margin-bottom: 25px;
}

@media screen and (min-width: 320px) {
  .container,
  .widget-container {
    max-width: calc(320px * 0.9333);
  }

  .input-primary,
  .input-secondary,
  .input100 {
    width: 100%;
  }

  .maxes-container {
    width: 250px;
  }

  .form-label-maxes {
    width: 150px;
  }

  .input-maxes {
    width: 80px;
  }

  .input-split35 {
    width: 80px;
  }

  .input70 {
    width: 175px;
  }
}

@media screen and (min-width: 375px) {
  .container,
  .widget-container {
    max-width: calc(375px * 0.9333);
  }

  .form-label {
    width: 125px;
  }

  .input-primary,
  .input-secondary,
  .input100 {
    width: 180px;
  }

  .input-split70,
  .input70 {
    width: 120px;
  }

  .input-split35 {
    width: 55px;
  }
}
