@media screen and (min-width: 320px) {
  h5 {
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) {
  h5 {
    font-size: 14px;
  }
}

body {
  background-color: black;
  color: white;
  font-family: Quicksand, sans-serif;
}

footer {
  min-height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

h3,
h5 {
  margin: 0 auto;
}

.container {
  background-color: #171717;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px 15px 20px;
}

.nav-container {
  position: relative;
  margin: 0 auto;
}

.widget-container {
  background-color: #171717;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px 10px 20px;
}

.widget-container-secondary {
  background-color: #171717;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px 10px 20px;
}

.container-secondary {
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 25px 10px 20px;
}

.text-muted {
  color: #2cc47a;
}

.maxes-text,
.calc-text {
  margin: 25px 15px;
}

.maxes-container {
  margin: 0 auto;
  margin-top: 20px;
}

.toggle-container {
  background-color: #171717;
  border-radius: 25px;
  padding: 5px;
}

.toggle-on {
  background-color: #1bc270;
  border-radius: 50%;
  font: 18px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.toggle-on span {
  font: 18px;
}

.toggle-off {
  background-color: #171717;
  border-radius: 50%;
  color: #8f8f8f;
  font: 18px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #171717;
  overflow: auto;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  outline: none;
  padding: 20px;
}

.form-label,
.form-label-maxes,
.calc-label {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.input-primary {
  background-color: #171717;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  padding-left: 7px;
}

.input-secondary,
.input-split70,
.input-split35,
.unit-selector,
.unit-selector-calc {
  background-color: #2f2f2f;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  padding-left: 7px;
}

.unit-selector-calc {
  background-color: #171717;
}

.input-maxes {
  background-color: #2f2f2f;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 50px;
  text-align: center;
}

.input-maxes-calc {
  background-color: #171717;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 50px;
  text-align: center;
}

.btn-form {
  background-color: #1bc270;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 50px;
  margin-top: 20px;
}

.btn-modal {
  background-color: #1bc270;
  border: none;
  border-radius: 20px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 35px;
  margin-top: 20px;
}

input:focus,
select:focus,
.btn-form:focus,
a:focus {
  outline: none !important;
  border-color: 1px solid #1bc270 !important;
  box-shadow: 0 0 2px 3px #1bc270 !important;
}

.alt-to-login {
  margin-top: 20px;
}
