body {
  background-color: black;
  color: white;
  font-family: Quicksand, sans-serif;
}

footer {
  min-height: 50px;
}

.container {
  background-color: #171717;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px 20px 20px;
}

.text-muted {
  color: #2cc47a;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.input-primary {
  background-color: #171717;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  padding-left: 15px;
}

.btn-form {
  background-color: #1bc270;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 50px;
  margin-top: 20px;
}

.input-primary:focus,
.btn-form:focus,
a:focus {
  outline: none !important;
  border-color: 1px solid #1bc270 !important;
  box-shadow: 0 0 2px 3px #1bc270 !important;
}

.alt-to-login {
  margin-top: 20px;
}
