body {
  background-color: black;
  color: white;
  font-family: Quicksand, sans-serif;
}

footer {
  min-height: 50px;
}

.container {
  background-color: #171717;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px 15px 20px;
}

.widget-container {
  background-color: #171717;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 25px 10px 20px;
}

.container-secondary {
  background-color: #2f2f2f;
  border-radius: 10px;
  padding: 25px 10px 20px;
}

.text-muted {
  color: #2cc47a;
}

.maxes-text {
  margin: 25px 15px;
}

.maxes-container {
  margin: 0 auto;
  margin-top: 20px;
}

.toggle-container {
  background-color: #171717;
  border-radius: 25px;
  padding: 5px;
}

.toggle-on {
  background-color: #1bc270;
  border-radius: 50%;
  font: 18px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.toggle-on span {
  font: 18px;
}

.toggle-off {
  background-color: #171717;
  border-radius: 50%;
  color: #8f8f8f;
  font: 18px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
}

.form-label,
.form-label-maxes {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.input-primary {
  background-color: #171717;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  padding-left: 7px;
}

.input-secondary,
.input-split70,
.input-split35,
.unit-selector {
  background-color: #2f2f2f;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  padding-left: 7px;
}

.input-maxes {
  background-color: #2f2f2f;
  border: #8f8f8f solid 1px;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 50px;
  text-align: center;
}

.btn-form {
  background-color: #1bc270;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Quicksand, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 50px;
  margin-top: 20px;
}

input:focus,
select:focus,
.btn-form:focus,
a:focus {
  outline: none !important;
  border-color: 1px solid #1bc270 !important;
  box-shadow: 0 0 2px 3px #1bc270 !important;
}

.alt-to-login {
  margin-top: 20px;
}
